<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        <!-- REMOVE IN PRODUCCTION -->
        {% load livereload_tags %}

        {% load static %}

        <!-- REMOVE IN PRODUCCTION -->
        <script src="http://localhost:35729/livereload.js"></script>

        <title>Vita Training Systems</title>
        <link rel="icon"href="{% static 'favicon.ico' %}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/common.css' %}">
        {% block static %}
        {% endblock %}

        <!-- REMOVE IN PRODUCCTION -->
        {% livereload_script %}
    </head>

    <body id="main_body">
        <div class="main_container">
            {% block content %}
            {% endblock %}
        </div>
        {% include 'base/footer.html' %}
    </body>
</html>
