<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <title>Vits | {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/common.css' %}">
    </head>

    <body id="main_body">
        <div class="main_container">
            {% block content %}
            {% endblock %}
        </div>
        {% include 'base/footer.html' %}
    </body>
</html>
