{% load static %}
<footer class="footer">
    <div class="footer_container">
        <div>
            <p>Cura Aid</p>
            <p>123 Anywhere St.</p>
            <p>Any City. ST 12345</p>
        </div>
        <div>
            <p>Tel: 123-456-7890</p>
            <p>Email: hello@reallygreatsite.com</p>
            <p>Social: @Reallygreatsite</p>
        </div>
        <div>
            <p>We are an accessible wokplace.</p>
            <p>Persons with disabilities are welcome to apply.</p>
        </div>
        <p>@ Copyright 2022 | Vits All rights reserved. </p>
    </div>
</footer>
